{% extends "./_layouts/default.njk" %}

{% block content %}
  <div class="fixed inset-0 flex flex-col justify-center items-center">
    <div class="text-xl text-gray-700 font-bold">11ty Tailwind Starter</div>
    <div class="text-sm text-gray-500">version 1.0</div>
  </div>
{% endblock %}